body{
    font-family: 'Oswald', sans-serif;
    background-color:black;
    color: gold;
}
.main-header {
    color:lightgray;
    font-size: 70px;
}
.head{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: darkred;
}